.cell {
    border: solid rgb(115 109 109 / 50%) 0.3px;
    height: 0.8vw;
    width: 0.8vw;
}

.dead {
    background-color: black;
}

.alive {
    box-shadow: #3cf709 0px 0px 16px 2px;
    background-color: #3cf709;
    position: relative;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}