body {
    font-family: monospace;
    font-size: 100%;
    background: radial-gradient(circle at 50% 50%, #c0ffb1, #b5f6ae, #9cdea7, #80be9a, #6a9b88, #5b7b73, #526561, #4f5c5a);
}

main {
    margin-top: 5%;
    display: grid;
    grid-template-rows: 10% auto 10%;
    grid-template-columns: repeat(3, minmax(170px, auto));
    justify-items: center;
    align-items: center;
    grid-row-gap: 5%;
}

input[type='range'] {
    height: 0.2em;
}

label {
    padding-right: 0.8em;
}

.activeBtn {
    background-color: #dfaf13;
}

button {
    background-color: #0075ff;
}

#controlButtons > button {
    width: auto;
    font-size: 80%;
    border: solid #1c07bd 1px;
    outline: none;
}

#controlButtons > button:active {
    background-color: #350ed1;
}

.gameCellsContainer {
    grid-row: 2;
    grid-column: 1/4;
    border: solid #0000002b 5px;
}

.gameTitle {
    grid-row: 3;
    grid-column: 1/4;
    font-size: 1.8em;
    font-weight: bold;
}

div > p {
    padding: 0;
    margin: 0;
}

